<div class="container-fluid mt-5 about-style" id="contactid">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Contact us</h1>
      <p class="text-center sub-heading">Grow your bussiness with us</p>
      <div class="row">
        <div class="col-md-6 col-12 mx-auto">

          <form  action="/contact" method="post">
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter your name"
                name="name"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter your Email"
                name="email"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Phone</label>
              <input
                type="number"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter your Phone no"
                name="phone"
              />
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1" class="form-label">Message</label>
              <input
                type="text"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Enter your message"
                name="message"
              />
            </div>
           
            <button type="submit" class="btn-style btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>